html,
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logOrSign-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #e1d7e2;
}

.logOrSign-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  padding: 20px;
  border-radius: 8px;
  background-color: #1e1d1d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logOrSign-box {
  margin: 10px;
  flex: 1;
}

/* Styles for the HomePage component */
.homepage {
  padding: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.image-container {
  overflow: hidden;
  border-radius: 5px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
